<div class="nav-bar justify-content-center" style="z-index: 2;">

</div>
<div class="nav-bar-overlay" style="z-index: 2;">
  <ul>
    <li></li>
  </ul>
</div>
<br>

<div class="container mt-100">
  <div class="text-center">
    <img class="card-img-top" src="../../assets/images/icon.png" style="margin: 10px 0px 10px 0px; width:10%; display:inline-block; border-radius: 50%">
  </div>
  <div class="row mt-4">
    <div *ngIf="admin" class="col-md-4">
      <div class="text-center">
        <a href="/admin/register"><img class="card-img-top" src="../../assets/images/register.png" style="width:20%; display:inline-block"></a>
      </div>
      <div class="card mt-4" style="width: 100%">
        <div class="card-block">
          <h4 class="card-title text-center">Register Team</h4>
        </div>
      </div>
    </div>
    <div *ngIf="admin" class="col-md-4">
      <div class="text-center">
        <a href="/admin/group"><img class="card-img-top" src="../../assets/images/group.png" style="width:30%; display:inline-block"></a>
      </div>
      <div class="card mt-4" style="width: 100%">
        <div class="card-block">
          <h4 class="card-title text-center">Group</h4>
        </div>
      </div>
    </div>
    <div *ngIf="admin" class="col-md-4">
      <div class="text-center"><a href="/admin/match">
        <img class="card-img-top" src="../../assets/images/match.png" style="width:20%; display:inline-block"></a>
      </div>
      <div class="card mt-4" style="width: 100%">
        <div class="card-block">
          <h4 class="card-title text-center">Match</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="text-center">
        <a href="/admin/schedule">
        <img class="card-img-top" src="../../assets/images/result.png" style="width:24%; display:inline-block"></a>
      </div>
      <div class="card mt-4" style="width: 100%">
        <div class="card-block">
          <h4 class="card-title text-center">Result</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="text-center">
        <a href="/admin/nba">
        <img class="card-img-top" src="../../assets/images/match.png" style="width:24%; display:inline-block"></a>
      </div>
      <div class="card mt-4" style="width: 100%">
        <div class="card-block">
          <h4 class="card-title text-center">NBA 2K18</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="text-center">
        <a style="cursor: pointer" (click)="logout()">
        <img class="card-img-top" src="../../assets/images/logout.png" style="width:20%; display:inline-block"></a>
      </div>
      <div class="card mt-4" style="width: 100%">
        <div class="card-block">
          <h4 class="card-title text-center">Logout</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #scoreboardModal="bs-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Match</h5>
      </div>
      <div class="modal-body">
        <select (change)="change($event.target.value)">
          <option *ngFor="let m of match | async" [value]="m.key">{{m.val.match_no}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="go()">Go to ScoreBoard</button>
        <button type="button" class="btn btn-secondary" (click)="scoreboardModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>
