<div class="nav-bar justify-content-center" style="z-index: 2;">

  </div>
  <div class="nav-bar-overlay" style="z-index: 2;">
    <ul>
      <li></li>
    </ul>
  </div>
  <br>
<div class="text-center mt-100">
  <form #loginForm="ngForm" class="form-signin">
      <img class="mb-4" src="../../assets/images/icon.png" alt="" width="50%" style="border-radius: 50%">
    <h1 class="h3 mb-3 font-weight-normal">Admin Panel</h1>
    <div *ngIf="err" class="alert alert-danger" role="alert">
      <strong>Email & Password not match</strong>
    </div>
    <label for="inputEmail" class="sr-only mt-4">Email address</label>
    <input type="email" id="inputEmail" name="email" class="form-control mt-4" placeholder="Email address" required autofocus
      ngModel required>
    <label for="inputPassword" class="sr-only mt-4">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control mt-4" placeholder="Password" required ngModel
      required>
    <div class="row">
      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit" (click)="submit(loginForm)">Sign in</button>
    </div>
    <p class="mt-5 mb-3 text-muted mt-4">&copy; Get Hyred Team 2017-2018</p>
  </form>
</div>