<div class="bb">
  <!-- <div class="container"> -->
      <div class="row gray-border">
        <div class="col-md-5 trapezium">
          HOME
        </div>
        <div class="col-md-2 triangle">
          TIME
        </div>
        <div class="col-md-5 trapezium">
          AWAY
        </div>

      </div>
      <div class="float-center">
        <span *ngIf="display_minute < 10">0</span>{{display_minute}}:<span *ngIf="display_second < 10">0</span>{{display_second}}
      </div>

      <div class="row">
        <div class="col-md-4">
            <div class="home-score">
                <!-- {{home_score}} --> 000
            </div>
        </div>
        <div class="col-md-4">
          <div class="row margin-top-custom">
            <div class="col-md-4">
              <div class="home-fouls">
                TEAM FOULS
              </div>
            </div>
            <div class="col-md-4">
              <div class="period text-center">
                PERIOD
              </div>
            </div>
            <div class="col-md-4">
              <div class="away-fouls text-right">
                TEAM FOULS
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="home-fouls-box">
                <!-- {{home_foul}} --> 00
              </div>
            </div>
            <div class="col-md-4">
              <div class="period-box">
                <!-- {{period}} --> 00
              </div>
            </div>
            <div class="col-md-4">
              <div class="away-fouls-box">
                <!-- {{guest_foul}} --> 00
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="away-score">
                <!-- {{guest_score}} --> 000
            </div>
        </div>
      </div>
</div>



