<div class="bb">
  <!-- <div class="container"> -->
      <div class="row gray-border">
        <div class="col-md-5 trapezium">
          <span *ngIf="!input" (click)="input = !input">{{home}}</span>
          <span *ngIf="input"><input type="text" class="form-control" [(ngModel)]="home" (keyup.enter)="input = !input"></span>
        </div>
        <div class="col-md-2 triangle">
          TIME
        </div>
        <div class="col-md-5 trapezium" >
          <span *ngIf="!input" (click)="input = !input">{{away}}</span>
          <span *ngIf="input"><input type="text" class="form-control" [(ngModel)]="away" (keyup.enter)="input = !input"></span>
        </div>

      </div>
      <div class="float-center">
        <span *ngIf="display_minute < 10">0</span>{{display_minute}}:<span *ngIf="display_second < 10">0</span>{{display_second}}
      </div>

      <div class="row">
        <div class="col-md-4">
            <div class="home-score">
                {{home_score}}
            </div>
        </div>
        <div class="col-md-4">
          <div class="row margin-top-custom">
            <div class="col-md-4">
              <div class="home-fouls">
                TEAM FOULS
              </div>
            </div>
            <div class="col-md-4">
              <div class="period text-center">
                PERIOD
              </div>
            </div>
            <div class="col-md-4">
              <div class="away-fouls text-right">
                TEAM FOULS
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="home-fouls-box">
                {{home_foul}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="period-box">
                {{period}} 
              </div>
            </div>
            <div class="col-md-4">
              <div class="away-fouls-box">
                {{guest_foul}} 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="away-score">
                {{guest_score}} 
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <div class="sec-24">
            {{all24}}
        </div>
        </div>
        <div class="col-md-4">

        </div>
      </div>
      <div class="row image-rel">
        <div class="col-md-4">
            <img class="img-100" src="https://firebasestorage.googleapis.com/v0/b/ghyred-sweet16.appspot.com/o/HoopHood-01.png?alt=media&token=c76cce44-1e88-41e5-b0d7-20501addc077">
        </div>
        <div class="col-md-4">
            <!-- <img src="https://firebasestorage.googleapis.com/v0/b/ghyred-sweet16.appspot.com/o/HoopHood-01.png?alt=media&token=c76cce44-1e88-41e5-b0d7-20501addc077"> -->
        </div>
        <div class="col-md-4">
            <!-- <img src="https://firebasestorage.googleapis.com/v0/b/ghyred-sweet16.appspot.com/o/HoopHood-01.png?alt=media&token=c76cce44-1e88-41e5-b0d7-20501addc077"> -->
        </div>
      </div>
</div>



