<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/admin/register">Hoop Hood</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/register">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/group">Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/match">Match</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/schedule">Result</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="addform" class="text-center mt-100 row">
  <div class="col-md-6">
    <h4>Team Registration</h4>
    <form #registerForm="ngForm" class="form-signin-2">
      <div class="row">
        <div class="col-md-4 text-right">Nama Pasukan :</div>
        <div class="col-md-8">
          <input type="text" name="team" class="form-control" ngModel required>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 text-right">Guru Pengiring :</div>
        <div class="col-md-8">
          <input type="text" name="guru" class="form-control" ngModel required>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 text-right">Coach :</div>
        <div class="col-md-8">
          <input type="text" name="coach" class="form-control" ngModel required>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 text-right">Penolong Coach :</div>
        <div class="col-md-8">
          <input type="text" name="atcoach" class="form-control" ngModel>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 text-right">Kategori :</div>
        <div class="col-md-8">
          <select placeholder="category" name="category" class="form-control" ngModel required>
            <option *ngFor="let c of category" [value]="c.id">
              {{c.id}}
            </option>
          </select>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 text-right">Zone :</div>
        <div class="col-md-8">
          <select placeholder="zone" name="zone" class="form-control" ngModel required>
            <option *ngFor="let g of zone" [value]="g.id">
              {{g.id}}
            </option>
          </select>
        </div>
      </div>
    </form>
    <button class="btn btn-success" (click)="addTeam(registerForm)">Submit Team</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <p class="text-left">Player added</p>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" (click)="addplayer()">Add Player</button>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-2">#</div>
      <div class="col-md-5">Name</div>
      <div class="col-md-5">Jersi</div>
    </div>
    <div *ngFor="let n of newPlayer; let i = index">
      <div class="row text-center">
        <div class="col-md-2">{{i + 1}}</div>
        <div class="col-md-5">{{n.name}}</div>
        <div class="col-md-5">{{n.jersi}}</div>
      </div>
    </div>
    <div *ngIf="!playerlist" class="mt-4">
      <form #playerForm="ngForm">
        <div class="row">
          <div class="col-md-4 text-left">Nama Pemain:</div>
          <div class="col-md-6">
            <input type="text" name="name" ngModel class="form-control">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4 text-left">Jersi:</div>
          <div class="col-md-6">
            <input type="number" name="jersi" ngModel class="form-control">
          </div>
        </div>
      </form>
      <button class="btn btn-success mt-4" (click)="addedplayer(playerForm)">Submit Player</button>
      <button class="btn btn-danger mt-4" (click)="cancelplayer()">Cancel</button>
    </div>
  </div>
</div>

<div *ngIf="editform" class="text-center mt-100 row">
  <div class="col-md-6">
    <h4>Team Registration</h4>
    <form #registerForm="ngForm" class="form-signin-2">
      <div class="row">
        <div class="col-md-4 text-right">Nama Pasukan :</div>
        <div class="col-md-8">
          <input type="text" name="team" class="form-control" ngModel [ngModel]="(team|async)?.team_name" required>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 text-right">Guru Pengiring :</div>
        <div class="col-md-8">
          <input type="text" name="guru" class="form-control" ngModel [ngModel]="(team|async)?.manager" required>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 text-right">Coach :</div>
        <div class="col-md-8">
          <input type="text" name="coach" class="form-control" ngModel [ngModel]="(team|async)?.coach" required>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 text-right">Penolong Coach :</div>
        <div class="col-md-8">
          <input type="text" name="atcoach" class="form-control" [ngModel]="(team|async)?.assistant_coach" ngModel>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 text-right">Kategori :</div>
        <div class="col-md-8">
          <select placeholder="category" name="category" class="form-control" ngModel [ngModel]="(team|async)?.category" required>
            <option *ngFor="let c of category" [value]="c.id">
              {{c.id}}
            </option>
          </select>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 text-right">Zone :</div>
        <div class="col-md-8">
          <select placeholder="zone" name="zone" class="form-control" ngModel [ngModel]="(team|async)?.zone" required>
            <option *ngFor="let g of zone" [value]="g.id">
              {{g.id}}
            </option>
          </select>
        </div>
      </div>
    </form>
    <button class="btn btn-success" (click)="UpdateTeam(registerForm)">Update Team</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <p class="text-left">Player added</p>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" (click)="addplayer()">Add Player</button>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-2">#</div>
      <div class="col-md-4">Name</div>
      <div class="col-md-4">Jersi</div>
      <div class="col-md-2">Verified</div>
    </div>
    <div *ngFor="let n of oldPlayer | async; let i = index">
      <div class="row text-center">
        <div class="col-md-2">{{i + 1}}</div>
        <div class="col-md-4"><span style="cursor: pointer" (click)="seeSurat(n.data.image)" data-toggle="modal" data-target="#myModal">{{n.data.player_name}}</span></div>
        <div class="col-md-4">{{n.data.player_jersey}}</div>
        <div class="col-md-2"><button class="btn btn-primary btn-sm" (click)="eplayer(n.id)">Edit</button><button *ngIf="verifyPlayer[i]" class="btn btn-success btn-sm" (click)="verifyPlayer(i,n.id)"><i class="fa fa-check"></i></button><button *ngIf="!verifyPlayer[i]" class="btn btn-danger btn-sm" (click)="verifyPlayer(i,n.id)"><i class="fa fa-times"></i></button></div>
      </div>
    </div>
    <div *ngFor="let n of newPlayer; let i = index">
      <div class="row text-center">
        <div class="col-md-2">{{i + 1}}</div>
        <div class="col-md-4">{{n.name}}</div>
        <div class="col-md-4">{{n.jersi}}</div>
      </div>
    </div>
    <div *ngIf="!playerlist" class="mt-4">
      <form #playerForm="ngForm">
        <div class="row">
          <div class="col-md-4 text-left">Nama Pemain:</div>
          <div class="col-md-6">
            <input type="text" name="name" ngModel class="form-control">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4 text-left">Jersi:</div>
          <div class="col-md-6">
            <input type="number" name="jersi" ngModel class="form-control">
          </div>
        </div>
      </form>
      <button class="btn btn-success mt-4" (click)="addedplayer(playerForm)">Submit Player</button>
      <button class="btn btn-danger mt-4" (click)="cancelplayer()">Cancel</button>
    </div>
    <div *ngIf="uplayer" class="mt-4">
      <form #playerForm="ngForm">
        <div class="row">
          <div class="col-md-4 text-left">Nama Pemain:</div>
          <div class="col-md-6">
            <input type="text" name="name" ngModel [ngModel]="(player|async)?.player_name" class="form-control">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4 text-left">Jersi:</div>
          <div class="col-md-6">
            <input type="number" name="jersi" ngModel [ngModel]="(player|async)?.player_jersey" class="form-control">
          </div>
        </div>
      </form>
      <button class="btn btn-success mt-4" (click)="updateplayer(playerForm)">Submit Player</button>
      <button class="btn btn-danger mt-4" (click)="cancelplayer()">Cancel</button>
    </div>
  </div>
</div>

<div *ngIf="teamlist" class="container mt-100">
  <div *ngIf="err" class="alert alert-danger" role="alert"><strong>Your form is not valid</strong></div>
  <div *ngIf="success" class="alert alert-success" role="alert"><strong>Your group and team has been updated</strong></div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-8">
          <h5>Registered Team</h5>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" (click)="addnewteam()">Add New Team</button>
        </div>
      </div>
      <table class="table mt-4">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let t of teamList$ | async; let i = index">
          <tr>
            <td>{{i + 1}}</td>
            <td>{{t.data.team_name}}</td>
            <td>
              <button class="btn btn-block btn-primary" (click)="confirm(t.id)">Confirm team</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h5>Confirmed Team</h5>
      <table class="table mt-4">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Category</th>
            <th scope="col">Zone</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let t of teamConfirm$ | async; let i = index">
          <tr class="text-center">
            <td>{{i + 1}}</td>
            <td>{{t.data.team_name}}</td>
            <td>
              {{t.data.category}}
            </td>
            <td>{{t.data.zone}}</td>
            <td><button class="btn btn-primary" (click)="edit(t.id)">Edit Team</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Sijil Tamat Sekolah</h4>
      </div>
      <div class="modal-body">
        <img *ngIf="surat_image !== null" [src]='surat_image' style="width:300px; height:auto"/>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger mt-4" (click)="cancelplayer()" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>